src/main/resources/rules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rulesType">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="getRuleType" name="getRuleTypeList" maxOccurs="unbounded"/>
                <xs:element type="postRuleType" name="postRuleTypeList" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="postRuleType">
        <xs:sequence>
            <xs:element type="xs:string" name="xpath-key"/>
            <xs:element type="xs:string" name="statuscode"/>
            <xs:element type="xs:string" name="xpath-value"/>
            <xs:element type="xs:string" name="file"/>
            <xs:element type="cookiesType" name="cookies"/>
            <xs:element type="headersType" name="headers"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getRuleType">
        <xs:sequence>
            <xs:element type="xs:string" name="url"/>
            <xs:element type="xs:string" name="statuscode"/>
            <xs:element type="xs:string" name="file"/>
            <xs:element type="cookiesType" name="cookies"/>
            <xs:element type="headersType" name="headers"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cookiesType">
        <xs:sequence>
            <xs:element type="cookieType" name="cookie" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="headersType">
        <xs:sequence>
            <xs:element type="headerType" name="header" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cookieType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="value"/>
            <xs:element type="xs:string" name="path"/>
            <xs:element type="xs:int" name="expiry"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="headerType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="value"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>